# Data Science Tools and Ecosyste

**Objectives:**
- List popular languages for Data Science
- List of commonly used libraries in Data Science
- Review of markdown actions in Jupyter Notebook

##### In this notebook, Data Science Tools and Ecosystem are summarized

*Some of the popular languages that Data Scientists use are:*

1. Python
2. R
3. SQL

_Some of the commonly used libraries used by Data Scientists include:_
* Pandas
* Matplotlib
* Scipy

_Three development environment open source tools used in data science:_
| Data Science Tools |
| ------------------ |
| JupyterLab |
| VS Code |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
round(200/60,2)

3.33

## Author:
**Juli√°n Mirson**